 body {
    background-color: #fffbf7;
    display: block;
    vertical-align: center;
  }

  .navbar{
    width: 100%;
    font-family: 'Quicksand', sans-serif;
  }
  
  li {
    margin: 0 25px;
    font-weight: bold;
    font-size: 20px;
  }

  .form-header{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .form-header > input{
    border-color: black;
    border-right: none;
    width: 18rem;
    padding: 10px;
    border-radius: 15px 0px 0px 15px;
    background-color: #fffbf7;
  }

  .form-header > button{
    border-color: black;
    padding: 10px;
    width: 8rem;
    border-radius: 0 15px 15px 0;
    background-color: #025157;
    color: #fffbf7;
  }

  .logo{
    width: 200px;
  }

  .logo > img {
    width: 15%;
  }

  .header {
    margin-top: 100px;
    text-align: center;
  }

  header > h1 {
    color: #025157;
    font-size: 60px;
    margin-bottom: 30px;
  }
  
  header > p {
    color: #545353f8;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    margin: 20px;
   
  }

  header > figure{
    display: flex;
    justify-content: center;
  }

  header > figure > img {
    width: 80%;

  }

  .main{
    margin-top: 100px;
  }

  .actions {
    width: 15%;
    text-align: right;
    font-size: 14px;
    font-weight: 600;
  }

  .actions a {
      color: #67b54b;
  }

  .actions button {
    padding: 12px 14px;
    border-radius: 5px;
    background-color: #67b54b;
    border-color: transparent;
  }

  .publish {
    display: flex;
    flex-direction: column;
    margin-left: 30px
  }
  
  .publish h2 {
    font-size: 40px;
    line-height: 48px;
    color: #025157;
  }
  
  .publish > p {
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .publish > form {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .publish > form p {
    color: #025157;
    margin-right: 18px;
  }

  .publish > form button {
    padding: 20px;
    border-radius: 0px 15px 15px 0px;
    font-size: 15px;
    border-left: none;
  }

  .publish > form input {
    width: 300px;
    padding: 20px;
    border-radius: 15px 0px 0px 15px;
    font-size: 15px;
    border-right: none;
  }

  .publish-inputs{
    display: flex;

  }

  .promo{
    display: flex;
    width: 70%;
    align-items: center;
    margin: 100px auto;
  }

  .video-img{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .video-img img{
    width: 120px;
    margin-top: 10px;
  }

  .features {
    display: grid;
    padding: 5% 10%;
    background-color: #025157;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    gap: 30px;
  }

  .features .feature-card{
    background-color: #fffbf7;
    border-radius: 15px;
    padding: 0 0 30px 30px;
    border: 2px solid #000000;
    align-items: center;
    text-align: left;
  }

/** dispositivos pequeños en vista landscape (horizontal) */
@media (min-width: 300px) and (max-width: 767px) {
  header > figure > img{
    width: 70%;
  }

  .form-header > input{
    border-color: black;
    border-right: none;
    width: 10rem;
    padding: 10px;
    border-radius: 15px 0px 0px 15px;
    background-color: #fffbf7;
  }

  .form-header > button{
    border-color: black;
    padding: 10px;
    width: 8rem;
    border-radius: 0 15px 15px 0;
    background-color: #025157;
    color: #fffbf7;
  }

  .promo{
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
    margin: 100px auto;
  }

  .features {
    display: grid;
    padding: 5% 10%;
    background-color: #025157;
    grid-template: repeat(4, 1fr) / 1fr;
    gap: 30px;
  }

}

/** dispositivos medianos (tablets) */
@media (min-width: 768px) and (max-width: 991px) {

}

/** dispositivos grandes (desktops) */
@media (min-width: 992px) and (max-width: 1199px) {

}

/** dispositivos extra grandes (monitores grandes, tvs) */
@media (min-width: 1200px) {

}

