body{
     background-color: #fffbf7;
}

h1{
    color: #025157;
    text-align: center;
    font-size: 60px;
}

h6{
    color: #025157;
    text-align: center;
    font-size: 40px;
}
p{
    color: #8b8b8bcc;
    text-align: center;
    font-family: sans-serif;
    font-size: 30px
}

form{
    font-family: 'Rubik', sans-serif;
    text-align: center;
    font-size: 20px;
}


input{
    font-size: 20px;
    text-align: center;
}

#boton1 {
    font-size: 20px;
    background-color: #025157;
    color: #fff;
    border-radius: 3px;
    text-align: center;
}


#imagenTest{
    text-align: center;
    
}

img{
    max-width: 50%;
    max-height: 50%;
}