body {
    background-color: #fffbf7;
  }
  
  h1 {
    color: #025157;
    text-align: center;
    font-size: 100px;
  }
  
  p {
    color: #8b8b8bcc;
    font-family: Verdana;
    font-size: 20px;
  }
  
  button {
    color: #fff;
    background-color: #025157;
  }
  
  .header {
    margin: 40px 20px 0;
    font-size: 0;
    z-index: 0;
  }
  
  li {
    margin: 0 25px;
    display: inline;
    color: #025157;
    font-weight: bold;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 20px;
  }
  
  .header > * {
    display: inline-block;
    font-size: 16px;
    line-height: 45px;
    height: 100%;
    vertical-align: middle;
    font-family: sans-serif;
  }

  .fits-header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fffbf7;
  }
  
  .logo {
    width: 15%;
    
  }
  
  .logo > img {
    width: 15%;
    vertical-align: center;
  }
  
  .navbar {
    width: 70%;
    height: 45px;
    text-align: center;
    color: #025157;
    font-weight: 500;

  }
  
  .actions {
    width: 15%;
    text-align: right;
    font-size: 14px;
    font-weight: 600;
  }

  .actions > *{
    margin: 0 10px;
  }

.actions a {
    color: #67b54b;
}

.actions button {
    padding: 12px 14px;
    border-radius: 5px;
    background-color: #67b54b;
    border-color: transparent;
}

  .main{
    margin-top: 285px;
    text-align: center;
  }

  .publish {
    display: flex;
    flex-direction: column;
    margin-left: 30px
  }
  
  .publish h2 {
    font-size: 40px;
    line-height: 48px;
    color: #025157;
  }
  
  .publish > p {
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .publish > form {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .publish > form p {
    color: #025157;
    margin-right: 18px;
  }

  .publish > form button {
    padding: 20px;
    border-radius: 0px 15px 15px 0px;
    font-size: 15px;
    border-left: none;
  }

  .publish > form input {
    width: 300px;
    padding: 20px;
    border-radius: 15px 0px 0px 15px;
    font-size: 15px;
    border-right: none;
  }

  .publish-inputs{
    display: flex;
  }
  .promo{
    display: flex;
    width: 70%;
    align-items: center;
    margin: 100px auto;
  }

  .video-img{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .video-img img{
    width: 120px;
    margin-top: 10px;
  }

  .features {
    padding: 5% 10%;
    background-color: #025157;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    gap: 30px;
  }

  .features .feature-card{
    display: flex;
    background-color: #fffbf7;
    border-radius: 15px;
    padding: 0 0 30px 30px;
    border: 2px solid #000000;
    align-items: center;
    text-align: left;

  }

  .features .feature-card .feature-content{
    padding: 0px 0px 30px 30px;
  }

  .features .feature-card .feature-content img {
    width: 50px;
  }

  .features .feature-card .feature-content h3 {
    font-size: 30px;
    color: #000000;
    font-weight: 400;
  }

  .features .feature-card .feature-content p {
    font-size: 16px;
    color: #6f6b6b;
  }

  .features .feature-card .feature-content a {
    font-size: 20px;
    color: #67b54b;
    font-weight: 600;
    text-decoration: none;
  }

  .features .feature-card .feature-image {
    flex: 1;
    width: 40%;
    position: relative;
    height: 80%;
  }

.features .feature-card .feature-image figure,
.features .feature-card .feature-image img {
  height: 100%;
  z-index: 0;
}